@font-face {
    font-family: 'titleFont';
    src: url('../fonts/AboveDemoRegular-lJMd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'infoFont';
    src: url('../fonts/Bandar-K7EO7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

}

.img {
    border-radius: 50px;
    width: 50px;
    height: 50px;

}

.page1BG {
    /* position: relative; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    overflow-x: hidden;
}

.page1BG::after {
    overflow-x: hidden;
    content: "";
    position: absolute;
    top: 5rem;
    left: 10%;
    width: 90%;
    height: 90%;
    background-image: url('../media/magnifier.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity: 0.4;
    /* Adjust the opacity value as needed */
    pointer-events: none;
    /* Ensure the pseudo-element doesn't interfere with interactions */
}

h1 {
    font-family: titleFont;
    text-align: center;
    padding-top: 5%;
    color: aliceblue;
    text-shadow: rgb(7, 11, 58) 5px 3px 2px;
}

.intro {

    position: relative;
    z-index: 1;
    font-family: infoFont;
    font-size: 150%;
    text-align: center;
    margin: 0 auto;
    padding: 5%;
    text-shadow: silver 0px 1px 1px;
    color: rgb(233, 237, 240);
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
    gap: 10%;
}

h2 {
    font-family: titleFont;
    text-align: center;
    font-size: 200%;
    text-shadow: rgb(10, 36, 59) 3px 5px 1px;
    color: rgb(255, 255, 255);
}

li {
    font-family: infoFont;
    font-size: 150%;
    color: rgb(217, 239, 253);
}

.rotate-container1 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 5%;
    left: 22%;
}

#rotatingImg1 {
    width: 50%;
    height: 50%;
    position: absolute;
    justify-content: flex-start;
    border-radius: 50%;
    animation: rotate 10s linear infinite;

}

.divideImg,
.bruteImg {
    width: 500px;
    height: 200px;
}

.dImg,
.bImg {
    list-style: none;
}

@keyframes rotate {
    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/*new styles for the landing page*/
