.tooltip-container {
  position: relative;
  display: inline-block;
}

.labelExplanation {
  cursor: pointer;
  width: 5em;
  font-size: 2em;
  /* Adjust size as needed */
  font-weight: bold;
  border-radius: 2em;
  background-color: #55555500;
  border-color: #1420a8;
  border-style: outset;
}

.tooltip-text {
  visibility: hidden;
  width: 15em;
  /* Adjust width as needed */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  /* bottom: 10%;  */
  /*Position the tooltip above the text */
  left: 150%;
  margin-left: 7%;
  /* Use half of the width value to center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}