.App {
  background-image: linear-gradient(to bottom,#304352 20%, #d7d2cc 100% ); height: 100%;
}

.App-header{
  background-color: #0a1436b0;
  height: 10vh;
 
}
.scrollDown
{
  background-color: rgba(255, 255, 255, 0.822);
  color:rgb(59, 156, 163);
  
  width:15em;
  height:5em;
margin-left: 90%;
  margin-top: 2px;
  cursor:pointer;
  
}
.scrollDown:hover{
  background-color: rgba(219, 219, 194, 0.63);
  color: #0a1436;
}
.userControlPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 10rem; */
}

.headerCoponents{
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
  height: 10vh;
}
.questionmarkContainer{
  margin-right: 5em;
  margin-top: 2em;
}
