.App {
  background-color: #afd2ff5d; 
 height: 100%;
}

.App-header{
  background-color: #0a1436;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}
.scrollDown{
  background-color: rgba(117, 117, 101, 0.63);
  color:rgb(59, 156, 163);
  font-family: 'Roboto', sans-serif;
  font-size: large;
  width:200px;
  height:70px;
  margin-right: 1000px;
  margin-top: 2px;
  cursor:pointer;
  
}
.scrollDown:hover{
  background-color: rgba(219, 219, 194, 0.63);
  color: #0a1436;
}